{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}DML{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/svg" href="{% static 'dashboard/images/icons/mlb_logo.svg' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/main.css' %}">
    <!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
<!--===============================================================================================-->
	<h2 style="text-align: center; font-family: 'Quicksand', sans-serif; font-size: 46px; padding-top: 25px">DML</h2>
    <hr>

</head>

<body>

{% block navbar %}
    {% include  './navbar.html' %}
{% endblock %}

<div class="form-container">
    {% block content %}
    <label for="procedures" style="font-family: 'Quicksand', sans-serif; font-style: oblique; font-size: large;">What would you like to do?</label>
    <br>
    <select name="procedures" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="min-width: 20vw; text-align: center; font-family: 'Quicksand', sans-serif;">
        <option value="delete">Delete a table entry</option>
        <option value="insert">Insert a table entry</option>
        <option value="update">Update a table entry</option>
    </select>
    {% endblock %}

    <footer>
        <p style="position: fixed; bottom: 0; width: 100%; padding-bottom: 5px;">&copy; Alan Xu, Jai Bansal</p>
    </footer>
</div>


<!--===============================================================================================-->	
<script src="{% static 'dashboard/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dashboard/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dashboard/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dashboard/js/main.js' %}"></script>
</body>
</html>