{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Home{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!--===============================================================================================-->
    <link rel="icon" type="image/svg" href="{% static 'dashboard/images/icons/mlb_logo.svg' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/main.css' %}">
    
    <!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
<!--===============================================================================================-->

	<h2 style="text-align: center; font-family: 'Quicksand', sans-serif; font-size: 46px; padding-top: 25px;">MLB Pitch Analytics</h2>
    <hr>

</head>

<body>

{% block navbar %}
    {% include  './navbar.html' %}
{% endblock %}

<div class="col-xs-12">
    <img src="{% static 'dashboard/images/suntrust.jpeg' %}" style="display: flex; border: 8px solid black; border-radius: 20px; width: 75vw; margin: auto"/>
</div>

<div class="container">
    {% block content %}
    {% endblock %}

    <hr>
    <footer>
        <p style="text-align: center; padding-bottom: 5px;">&copy; Alan Xu, Jai Bansal</p>
    </footer>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>