{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'dashboard/images/icons/mlb_logo.svg' %}" style="width:4vw;height:4vh;"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="font-family: 'Quicksand', sans-serif;" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family: 'Quicksand', sans-serif;" href="{% url 'all_data' %}">All Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family: 'Quicksand', sans-serif;" href="{% url 'pitches' %}">Pitch Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family: 'Quicksand', sans-serif;" href="{% url 'atbats' %}">At Bat Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family: 'Quicksand', sans-serif;" href="{% url 'stats' %}">Advanced Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family: 'Quicksand', sans-serif;" href="{% url 'dml' %}">DML</a>
            </li>
        </ul>
    </div>
</nav>