{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ sp_name_formatted }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    <link rel="icon" type="image/svg" href="{% static 'dashboard/images/icons/mlb_logo.svg' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard//css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/main.css' %}">
<!--===============================================================================================-->
    <!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
<!--===============================================================================================-->
	<h2 style="text-align: center; font-family: 'Quicksand', sans-serif; background-color: lightgray; font-size: 46px; padding-top: 25px">{{ sp_name_formatted }}</h2>

</head>
<body>
	{% block navbar %}
		{% include  './navbar.html' %}
	{% endblock %}
	<div class="limiter">
		<div class="container-table100-2">
			<div class="wrap-table100">
				<div class="table100 ver5 m-b-110">
					<table data-vertable="ver5">
						<thead>
                            {% if attr_list %}
							<tr class="row100 head">
                                {% for attr in attr_list %}
								<th class="column100 column3" data-column="column3">{{ attr }}</th>
                                {% endfor %}
							</tr>
                            {% endif %}
						</thead>
						<tbody>
							{% if sp_data %}
							{% for row in sp_data %}
							<tr>
                                {% for attr in row %}
								<td class="column100 column2" data-column="column2">{{attr}}</td>
                                {% endfor %}
							</tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
            <span style="display: flex; margin-left: auto; background-color: lightgray;">
                <div style="padding: 5px; margin-top: 0.5em">Showing {{ start_index }}-{{ end_index }} of {{ total_rows }} results</div>
                <form action="{% url 'sp_detail' sp_name=sp_name page_num=prev_page %}" style="padding-right: 5px" method="POST">
                    <button type="button" class="btn btn-secondary">Previous</button>
                </form>
                <a href="{% url 'sp_detail' sp_name=sp_name page_num=next_page %}">
                    <button type="button" class="btn btn-secondary">Next</button>
                </a>
            </span>
		</div>
	</div>
    <footer>
        <p style="text-align: center; background-color: lightgray; padding-bottom: 5px;">&copy; Alan Xu, Jai Bansal</p>
    </footer>


<!--===============================================================================================-->	
	<script src="{% static 'dashboard/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dashboard/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dashboard/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dashboard/js/main.js' %}"></script>

</body>
</html>